/* COLORS */
:root {
  --gradient: linear-gradient(135deg, #8844ee, #b07dfb);
  --w-1: #fafbfc;
  --w: #ffffff;
  --c-1: #b07dfb;
  --b-1: rgba(0, 0, 0, 0.7);
  --b-2: rgba(0, 0, 0, 0.1);
  --b-hover: rgba(0, 0, 0, 0.5);
  --shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
}

/* TEXT */
.nav-txt {
  font-size: 1.125em;
  color: var(--w);
  font-weight: 400;
}

.txt {
  font-size: 1.2em;
  line-height: 1.6;
  color: var(--b-1);
}

.title h1 {
  font-size: 3.75em;
  font-weight: 700;
  line-height: 1;
  color: var(--c-1);
}

.title span {
  font-size: 0.875em;
  font-style: italic;
  color: var(--c-1);
}

.number {
  display: block;
  color: var(--c-1);
  font-size: 3em;
  line-height: 1em;
}
.label {
  color: var(--c-1);
}

.img-label {
  font-size: 0.875rem;
  color: var(--c-1);
  max-width: 16em;
  line-height: 1.6;
}

.quote {
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.6;
  color: var(--w);
}

.card-txt {
  font-family: "Courier Prime", monospace;
  font-size: 1.125em;
  color: var(--w);
}

/* COLUMNS */
.col-wide {
  grid-column: 1 / -1;
}

.row-span-2 {
  grid-row: span 2;
}

.align-end {
  align-self: end;
}
